.input {
  background-color: rgb(238, 238, 238);
  border-radius: 1rem;
  border-width: 0.2rem;
  width: 5rem;
  font-size: 2rem;
}
.btn {
  background-color: rgb(37, 214, 96);
  border-radius: 1rem;
  border-width: 0.2rem;
  font-size: 2rem;
  color: ivory;
}
.text {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.variText--0 {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
